<section class="sectors-section" id="sectors">

    <video autoplay muted loop playsinline class="sectors-bg-video">
        <source src="public/assets/media/abstract-holographic.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div>
    
    <div class="sectors-content">
        <div class="primary-sectors-wrapper">
            <img src="public/assets/icons/arrow-icon.svg" alt="Arrow Icon" class="primary-sectors-icon">

            <span class="primary-sectors-text">
                Primary Sectors
            </span>
        </div>

        <div class="primary-sectors-list">
            <p data-image="public/assets/images/investment.png">Investment & Capital Platforms</p>
            <p data-image="public/assets/images/food.png">Food & Beverage</p>
            <p data-image="public/assets/images/fitness.png">Fitness & Wellness</p>
            <p data-image="public/assets/images/realestate.png">Real Estate</p>
            <p data-image="public/assets/images/ai.png">AI & Automation</p>
            <p data-image="public/assets/images/fintech.png">Fintech</p>
            <p data-image="public/assets/images/banking.png">Banking & Financial Services</p>
        </div>
        <img id="sector-hover-preview" />

        <div class="sectors-button">
            <div class="icon-wrapper">
                <img src="public/assets/icons/Arrow.svg" alt="Arrow" class="Arrow">
            </div>
            <span class="sectors-btn-text">
                <span class="desktop-text">KNOW MORE</span>
                <span class="mobile-text">ENGAGE WITH US</span>
            </span>
        </div>
    </div>

    <div class="sectors-side-video">
        <video autoplay muted loop playsinline>
            <source src="public/assets/media/sectors-section.mp4" type="video/mp4">
        </video>
    </div>

</section>