<section class="investment-section">

    <!-- Background video -->
    <video autoplay muted loop playsinline class="investment-bg-video">
        <source src="public/assets/media/abstract-holographic.mp4" type="video/mp4">
    </video>
    <div class="investment-overlay"></div>

    <div class="investment-container">

        <!-- LEFT SIDE -->
        <div class="investment-left">
            <h2 class="investment-heading" >
                An Active
                <span class="investment-text">Investment &</span><br>
                <span class="operating-text">Operating</span> Platform
            </h2>
        </div>

        <!-- RIGHT SIDE -->
        <div class="investment-right">
            <p class="first_para">
                Rethink Group is not a passive capital allocator.<br>
                We operate as a strategic owner and long-term partner.
            </p>

            <p class="second_para">
                We acquire meaningful ownership positions in businesses
                with strong fundamentals, asset depth, and scalable economics.
                Post-acquisition, we engage deeply, strengthening governance,
                optimizing operations, and driving structured expansion.
            </p>

            <p>
                We prioritize durability over short-term gains and build
                enterprises designed to outperform across cycles.
            </p>
        </div>

    </div>

</section>