<nav>
    <a href="index.html" class="logo-container">
        <img src="public/assets/images/logo.svg" alt="Rethink Groups Logo" class="logo-img">
    </a>
    <div class="action-btns-container">
        <div class="nav-pill-container">
            <ul class="nav-links">
                <li><a href="index.html" id="nav-home">Home</a></li>
                <li><a href="src/components/about/" id="nav-about">About Us</a></li>
                <li><a href="#" id="nav-goal">goal</a></li>
                <li><a href="#" id="nav-approach">Approach</a></li>
            </ul>

        </div>
        <a href="src/components/contact/" class="nav-contact-btn" id="nav-contact">
            <span class="btn-text">Contact</span>
            <span class="btn-arrow-wrapper">
                <img src="public/assets/images/Arrow.svg" alt="" class="btn-arrow">
            </span>
        </a>
    </div>
</nav>