<nav>
    <a href="index.html" class="logo-container">
        <img src="public/assets/images/logo.svg" alt="Rethink Groups Logo" class="logo-img">
    </a>
    <div class="action-btns-container">
        <div class="nav-pill-container">
            <ul class="nav-links">
                <li><a href="#home-placeholder" id="nav-home" class="nav-scroll">Home</a></li>
                <li><a href="#about-placeholder" id="nav-about" class="nav-scroll">About Us</a></li>
                <li><a href="#goal-placeholder" id="nav-goal" class="nav-scroll">Goal</a></li>
                <li><a href="#strategic-placeholder" id="nav-approach" class="nav-scroll">Approach</a></li>
            </ul>

        </div>
        <a href="#about-engageholder" class="nav-contact-btn" id="nav-contact">
            <span class="btn-text">Contact</span>
            <span class="btn-arrow-wrapper">
                <img src="public/assets/images/Arrow.svg" alt="" class="btn-arrow">
            </span>
        </a>
    </div>
</nav>