<section class="engage-section reveal-active ">
     <video autoplay muted loop playsinline class="bg-video">
        <source src="public/assets/media/engage_background_video.mp4" type="video/mp4">
    </video>
    <div class="animated-cube">
        <img src="public/assets/icons/Vector-animation-2.png" alt="Animated Cube">
    </div>
 <div class="container">
  <div class="letter"> <img src="public/assets/images/letter_send.png" alt="letter" class="letter_img"></div>
  <div class="left">
    <h1>
      <span class="light">Engage With</span><br>
      <span class="rgt_gradient">Rethink Group</span>
    </h1>
    <p>
      We welcome discussions with institutional investors, founders, 
      asset owners, and strategic partners.
    </p>
  </div> 
  <div class="right">
    <form>
      <div class="form-row">
        <div class="form-group">
          <label>Full Name</label>
          <input type="text">
        </div>

        <div class="form-group">
          <label>Organization</label>
          <input type="text">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>Sector</label>
          <input type="text">
        </div>

        <div class="form-group">
          <label>Contact Details</label>
          <input type="text">
        </div>
      </div>

      <div class="form-group">
        <label>Investment Overview</label>
        <textarea class="textarea" rows="3" placeholder="Write your message..."></textarea>
      </div>

      <div class="submit-wrapper">
        <button type="submit"> <img src="public/assets/images/Arrow.svg" alt="arrow" class="arrow">SUBMIT</button>
      </div>

    </form>
  </div>

</div>
</section>

