<section class="enterprise-section" id="enterprise">

    <div class="enterprise-container">

        <div class="enterprise-header">
            <div class="enterprise-content">
                <div class="enterprise-label-wrapper">
                    <img src="public/assets/icons/arrow-icon.svg" alt="Arrow Icon" class="enterprise-label-icon">

                    <span class="enterprise-label">
                        Value Creation Framework
                    </span>
                </div>

                <h2 class="enterprise-heading">
                    <span class="blue-text">Systematic.</span>
                    <span class="measurable-text">Measurable.</span>
                    <span class="purple-text">Institutional.</span>
                </h2>

                <p class="enterprise-description">
                    Value creation at Rethink Group is structured and intentional, we measure success
                    through sustained EBITDA growth, cash flow quality, and enterprise value expansion.
                </p>

                <p class="enterprise-sub">
                    We drive enterprise value through:
                </p>
            </div>
        </div>

        <div class="enterprise-center">
            <video autoplay muted loop playsinline>
                <source src="public/assets/media/enterprise-section.mp4" type="video/mp4">
            </video>

            <!-- Logo on top -->
            <img src="public/assets/images/enterprise-section.png" class="enterprise-logo">
        </div>

        <!-- LEFT SIDE CARDS -->
        <div class="enterprise-card card-left-1">
            <img src="public/assets/icons/left-card-1.png" class="icon-left-1">
            <p>Operational Restructuring And Performance Enhance</p>
        </div>

        <div class="enterprise-card card-left-2">
            <img src="public/assets/icons/left-card-2.png" class="icon-left-2">
            <p>Margin And Cost Optimization</p>
        </div>

        <div class="enterprise-card card-left-3">
            <img src="public/assets/icons/left-card-3.png" class="icon-left-3">
            <p>Capital Structure Refinement</p>
        </div>

        <!-- RIGHT SIDE CARDS -->

        <div class="enterprise-card card-right-1">
            <img src="public/assets/icons/right-card-1.png" class="icon-right-1">
            <p>Governance And Reporting Discipline</p>
        </div>

        <div class="enterprise-card card-right-2">
            <img src="public/assets/icons/right-card-2.png" class="icon-right-2">
            <p>Leadership Alignment And Incentive Structuring</p>
        </div>

        <div class="enterprise-card card-right-3">
            <img src="public/assets/icons/right-card-3.png" class="icon-right-3">
            <p>Scalable Growth Execution Frameworks</p>
        </div>

    </div>

</section>