<section class="footer-container">
    <div>
        <div class="image-text-wrapper" id="letter-box"></div>
        <div class="footer-content">
            <p>
                <span class="highlight-blue">Rethink Group</span> <span class="normal_text">is an</span>
                <span class="highlight-purple-italic">institutional investment and operating platform</span> 
                <span class="normal_text">committed to disciplined capital allocation and</span> 
                <span class="highlight-purple-italic">long-term enterprise</span>
                <span class="normal_text">building.</span>
            </p>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-grid">
            <div class="footer-col contact">
                <p class="label">Contact us</p>
                <a href="mailto:contact@rethinkgroup.com" class="contact-link">
                    <span class="mail_icon"><img src="public/assets/images/si_mail-line.svg" alt="arrow" class="arrow"></span> contact@rethinkgroup.com
                </a>
                <p class="location">
                    <span class="loc_icon"><img src="public/assets/images/location.svg" alt="arrow" class="arrow"></span> Dubai - <a href="#" class="map-link">View on Map</a>
                </p>
            </div>

            <div class="footer-col quick_link">
                <p class="quick_label">Quick Links</p>
                <ul>
                    <li><a href="#home-placeholder">Home</a></li>
                    <li><a href="#about-placeholder">About Us</a></li>
                    <li><a href="#industries-placeholder">Industries</a></li>
                </ul>
            </div>

            <div class="footer-col legal_link">
                <p class="legal_label">Legal</p>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Disclaimer</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>© 2026 Rethink Groups. All rights reserved.</p>
        </div>
    </footer>
</section> 

