<section class="strategic-section" id="strategy">
    <img src="public/assets/images/abstract-icon.png" class="strategic-floating-element" alt="Decorative Element">

    <div class="strategic-container">

        <!-- LEFT SIDE -->
        <div class="strategic-left">
            <div class="strategic-label-wrapper">
                <img src="public/assets/icons/arrow-icon.svg" alt="Arrow Icon" class="strategic-label-icon">

                <span class="strategic-label">
                    OUR STRATEGIC MODEL
                </span>
            </div>

            <h2 class="strategic-heading">
                <span class="blue-text">Capital</span>
                <span class="black-text">+ Control +</span>
                <span class="purple-text">Capability</span>
            </h2>

            <p class="strategic-description">
                We seek businesses where structured intervention and disciplined scaling can materially enhance
                enterprise value.
                <br><br>
                Rethink Group operates through an integrated model:
            </p>
        </div>

        <!-- RIGHT SIDE -->
        <div class="strategic-right">

            <div class="strategic-card">
                <div class="card-icon">
                    <img src="public/assets/icons/capital.png" alt="icon">
                </div>
                <div class="card-content">
                    <h3>Capital Strength</h3>
                    <p>Structured investments aligned with long-term value creation.</p>
                </div>

            </div>

            <div class="strategic-card">
                <div class="card-icon">
                    <img src="public/assets/icons/operational.png" alt="icon">
                </div>
                <div class="card-content">
                    <h3>Operational Engagement</h3>
                    <p>Hands-on oversight across strategy, finance, performance, and growth execution.</p>
                </div>
            </div>

            <div class="strategic-card">
                <div class="card-icon">
                    <img src="public/assets/icons/strategic.png" alt="icon">
                </div>
                <div class="card-content">
                    <h3>Strategic Discipline</h3>
                    <p>Clear governance structures, measurable KPIs, and capital efficiency frameworks.</p>
                </div>
            </div>

        </div>

    </div>


</section>